<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172492669144-d9u3o8b2fht81kfotdm1hj1bd3dkf17p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172492669144-d9u3o8b2fht81kfotdm1hj1bd3dkf17p</string>
	<key>API_KEY</key>
	<string>AIzaSyBO_IcGW_ekHU05xUG4IQBI4ur3Fkf_tcg</string>
	<key>GCM_SENDER_ID</key>
	<string>172492669144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.edupeak</string>
	<key>PROJECT_ID</key>
	<string>edupeak-studyapp</string>
	<key>STORAGE_BUCKET</key>
	<string>edupeak-studyapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172492669144:ios:70b807323ad3a1456617ad</string>
</dict>
</plist>